@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif;
    cursor: none !important;
}

::selection {
    background-color: #fcb3bf;
}

body {
    background-color: #1a191d;
}